---
import Layout from "@/layouts/Layout.astro";
import { RegisterForm } from "@/components/auth/RegisterForm";
---

<Layout title="Register - 10x Recipes">
  <main class="min-h-screen flex items-center justify-center p-4">
    <RegisterForm client:load />
  </main>
</Layout>
